@import url('./element.css');
@import url('./content.css');
@import url('./extension.css');

.app-editor {
  position: relative;
  width: 100%;
  border: 1px solid var(--td-component-border);
  border-radius: var(--td-radius-default);
}

.app-editor-content > *:first-child {
  @apply mt-0;
}

.app-editor-content > *:last-child {
  @apply mb-0;
}

.app-editor-web .app-editor-content {
  max-width: 100%;
  @apply bg-container;
}

.app-editor-docs .app-editor-content-warp {
  background-color: var(--td-bg-color-component);
  @apply p-10;
}

.app-editor-docs .app-editor-content {
  max-width: 1000px;
  @apply shadow bg-container mx-auto;
}

.app-editor-mobile .app-editor-content-warp {
  background-color: var(--td-bg-color-component);
  @apply p-10;
}
.app-editor-mobile .app-editor-content {
  max-width: 720px;
  @apply shadow bg-container mx-auto;
}