.t-dialog .t-dialog__body {
  padding: 0;
}

.t-dialog .t-dialog__header {
  padding: var(--td-comp-paddingTB-m) var(--td-comp-paddingTB-l);
  @apply border-b border-component;
}

.t-dialog .t-dialog__footer {
  padding: var(--td-comp-paddingTB-m) var(--td-comp-paddingTB-l);
  @apply border-t border-component;
}
