html:root, *:root[theme-mode="light"] {
  --td-gray-color-1: #f8f9fc;
  --td-gray-color-2: #f2f4f8;
  --td-gray-color-3: #e4e7ec;
  --td-gray-color-4: #d6dadf;
  --td-gray-color-5: #c8cdd3;
  --td-gray-color-6: #babfc7;
  --td-gray-color-7: #acb2bb;
  --td-gray-color-8: #9ea5ae;
  --td-gray-color-9: #9198a2;
  --td-gray-color-10: #838b96;
  --td-gray-color-11: #596371;
  --td-gray-color-12: #4b5665;
  --td-gray-color-13: #2f3c4c;
  --td-gray-color-14: #1d252f;
}

.app-modal.t-dialog--default {
  padding: 0;
}

.app-modal .t-dialog__body {
  padding: 0;
}

.app-modal .t-dialog__header {
  padding: var(--td-comp-paddingTB-m) var(--td-comp-paddingTB-l);
  @apply border-b border-component;
}

.app-modal .t-dialog__footer {
  padding: var(--td-comp-paddingTB-m) var(--td-comp-paddingTB-l);
  @apply border-t border-component;
}

.app-modal .t-dialog__body .t-upload__dragger {
  @apply w-full;
}

.t-form .t-input-number.t-is-controls-right, .t-form .t-date-picker {
  @apply w-full;
}

.t-input__extra, .t-input__help {
  @apply mt-2 text-sm;
}

.app-code {
  @apply flex-grow rounded-lg p-2 bg-gray-12 text-white-1;
}

.app-mobile-header .t-button {
  @apply w-full;
}

.app-mobile-header .t-radio-group {
  @apply w-full;
}

.t-form .t-upload__flow {
  @apply w-full min-w-auto max-w-full;
}

.app-filter {
  @apply flex flex-col gap-2 md:flex-row flex-wrap;
}

.app-filter .t-form__item {
  @apply m-0 min-w-50 p-0 mb-0;
}

.app-menu-drawer .t-drawer__body {
  @apply p-0;
}